<<<<<<< HEAD
<<<<<<< HEAD
* {
  border: 1px solid red;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
=======
/* * {
  border: 1px solid red;
} */
>>>>>>> parent of 46c8371 (css)
=======
/* * {
  border: 1px solid red;
} */
>>>>>>> parent of 46c8371 (css)

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90px;
  background-color: #ffe794;
  border-bottom: 2px solid #ffd74d;
}

nav {
  display: flex;
  align-items: center;
  width: 95%;
  justify-content: space-between;
<<<<<<< HEAD
<<<<<<< HEAD
 align-items: center;
 margin: 1rem;
}

.Header__Start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
=======
>>>>>>> parent of 46c8371 (css)
=======
>>>>>>> parent of 46c8371 (css)
}

.logo__container__ImmagineProfilo,
.logo__container__Hamburger {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo__container__Hamburger img {
  width: 35px;
  height: 30px;
  cursor: pointer;
}

.logo__container__Hamburger img:hover {
  filter: brightness(93%);
  transition: filter 0.3s;
}

.logo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__container__TodoListLogo {
  width: 100px;
  height: 46px;
}


.logo__container__TodoListLogo img {
  width: 100px;
  height: 46px;
}

.logo__container__CheckListLogo {
  width: 64px;
  height: 26px;
}

.logo__container__CheckListLogo img {
  width: 64px;
  height: 26px;
}

.logo__container__ImmagineProfilo img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.logo__container__ImmagineProfilo img:hover {
  filter: brightness(93%);
  transition: filter 0.3s;
}