* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  background-color: #ffe794;
  border-bottom: 2px solid #ffd74d;
}

nav {
  height: 56px;
  display: flex;
  align-items: center;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.Header__Start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo__container__Hamburger {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo__container__Hamburger svg {
  width: 35px;
  height: 30px;
  cursor: pointer;
  fill: black;
}

.logo__container__Hamburger svg:hover {
  filter: brightness(93%);
  transition: filter 0.3s;
}

.logo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 56px;
}

.logo__container__TodoListLogo {
  width: 65px;
  height: 32px;
  position: relative;
}

.logo__container__TodoListLogo img {
  width: 65px;
  height: 32px;
  margin-top: 1px;
}

.logo__container__CheckListLogo {
  width: 50px;
  height: 18px;
  position: relative;
  bottom: 3px;
}

.logo__container__CheckListLogo img {
  width: 50px;
  height: 18px;
}

.logo__container__ImmagineProfilo {
  width: 60px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__container__ImmagineProfilo img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.logo__container__ImmagineProfilo img:hover {
  filter: brightness(93%);
  transition: filter 0.3s;
}