/* * {
  border: 1px solid red;
} */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 90px;
  background-color: #ffe794;
  border-bottom: 2px solid #ffd74d;
}

nav {
  display: flex;
  align-items: center;
  width: 95%;
  justify-content: space-between;
}

.logo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__container__todoListLogo {
  width: 100px;
  height: 46px;
}

.logo__container__ImmagineProfilo,
.logo__container__hamburger {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo__container__todoListLogo img {
  width: 100px;
  height: 46px;
}

.logo__container__ImmagineProfilo img {
  width: 50px;
  height: 50px;
}

.logo__container__hamburger img {
  width: 35px;
  height: 30px;
}

.logo__container__CheckListLogo {
  width: 64px;
  height: 26px;
}

.logo__container__CheckListLogo img {
  width: 64px;
  height: 26px;
}
